
<div class="container pt-5 mt-5">

    
    <div class="row mx-auto pb-1">
        <div class="col d-flex flex-row-reverse the-reverse">
            <h6>Nom</h6>
        </div>
        <div class="col d-flex align-items-center the-reverse-right pl-0">
            <h6><%= @user.last_name %></h6>
        </div>
    </div>

    <div class="row mx-auto pb-1">
        <div class="col d-flex flex-row-reverse the-reverse">
            <h6>Prénom</h6>
        </div>
        <div class="col d-flex align-items-center the-reverse-right pl-0">
            <h6><%= @user.first_name %></h6>
        </div>
    </div>

    <div class="row mx-auto pb-1">
        <div class="col d-flex flex-row-reverse the-reverse" >
            <h6>Contact</h6>
        </div>
        <div class="col d-flex align-items-center the-reverse-right pl-0">
            <h6><%= @user.email %></h6>
        </div>
    </div>

     <div class="row mx-auto pb-1">
        <div class="col d-flex flex-row-reverse the-reverse">
            <h6>Description</h6>
        </div>
        <div class="col d-flex align-items-center the-reverse-right pl-0">
            <h6><%= @user.description %></h6>
        </div>
    </div>

   
   
   
</div>