// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.imagesimp {
    background-image: image-url('header.jpg') ;
    background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-height: 300px;
    height: 100%;

  }



.the-reverse h6{
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  background-color: black;
  padding: 4px;
  margin-right: 0;
  
 }

 .the-reverse-right h6{
  margin-top: auto;
  margin-bottom: auto; 

 }
